.ico{
  cursor: pointer;
  display: inline-block;
}

.icon-square{
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &_yellow{
    background-color: $color-yellow;
  }
  &_red{
    background-color: $color-red;
  }
  &_blue{
    background-color: $color-blue;
  }
  &_violet{
    background-color: $color-violet;
  }
}

.icon-round{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &_white{
    background-color: $color-light;
  }
}

.ico_play{
  background-image: url("./src/img/icons/Triangle Copy 6.jpg");
  width: 18px;
  height: 19px;
}

.ico_arrow{
  background-image: url("./src/img/icons/arrow.svg");
  width: 12px;
  height: 17px;
}

.ico_warm{
  background-image: url("./src/img/icons/warm.svg");
  width: 12px;
  height: 17px;
}

.ico_heart{
  background-image: url("./src/img/icons/heart.svg");
  width: 12px;
  height: 17px;
}

.ico_time{
  background-image: url("./src/img/icons/time.svg");
  width: 12px;
  height: 17px;
}

.ico_phone{
  background-image: url("./src/img/icons/ico_phone.jpg");
  width: 13px;
  height: 13px;
}

.ico-ico_later{
  background-image: url("./src/img/icons/ico_mail.jpg");
  width: 13px;
  height: 13px;
}

