.logo{
  display: flex;
  padding-left: 50px;
}



.logo-object{
  width: 160px;
  height: 30px;
}

.logo-path{
  @extend %transition;
}

.logo-svg:hover{
  cursor: pointer;
  &:hover {
    .logo-path {
      fill: $color-primary;
    }
  }
}